body {
    margin: 0;
    background: #111;
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.login-card {
    background: #222;
    padding: 50px;
    border-radius: 20px;
    box-shadow: 0 0 30px rgba(255, 71, 87, 0.3);
    text-align: center;
    border: 1px solid #333;
}

h1 { color: #ff4757; margin-bottom: 5px; }

input {
    background: #333;
    border: 2px solid #444;
    padding: 15px;
    color: white;
    border-radius: 10px;
    width: 250px;
    font-size: 18px;
    margin-top: 20px;
    outline: none;
}

button {
    background: #ff4757;
    border: none;
    padding: 15px 30px;
    color: white;
    border-radius: 10px;
    font-weight: bold;
    font-size: 18px;
    margin-top: 20px;
    cursor: pointer;
    transition: 0.2s;
}

button:hover { background: #ff6b81; transform: scale(1.05); }

#game-container { width: 100vw; height: 100vh; }
#canvas { width: 100%; height: 100%; }
